{% extends 'base.html' %}

{% block title %} Profile {% endblock %}

{% block body %}

<form method="post">

    {% csrf_token %}
    {{ form.as_p}}

    <button type="submit">Save</button>

</form>

{% endblock %}
