{% extends 'base.html' %}

{% block title %} home {% endblock %}

{% block body %}
{% if user.is_authenticated %}
<h1>Hi {{user.username}}!</h1>
<p><a href="{% url 'view_profile' %}">Profile</a></p>
<p><a href="{% url 'logout' %}">logout</a></p>
{% else %}
<p>You are not logged in</p>
<a href="{% url 'login' %}">login</a>
{% endif %}
{% endblock %}
