{% extends 'base.html' %}


{% block body %}
    <h1>Welcome!</h1>
    <p>you can log in here!</p>
    <h2>log in</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Login</button>
    </form>
{% endblock %}
