{% extends 'base.html' %}

{% block title %} Profile {% endblock %}

{% block body %}
<h1>Profile</h1>
<p>Username: {{ user }} </p>
<p>First name: {{ user.first_name }}</p>
<p>Last name: {{ user.last_name }}</p>
<p>Email: {{ user.email }}</p>

<p><a href="{% url 'edit_profile' %}">Edit</a></p>
<p><a href="{% url 'logout' %}">logout</a></p>
{% endblock %}
