<!DOCTYPE html>
<html lang="en">

<head>


    <title> {% block title %} Document {% endblock %} </title>



    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">


</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <ul class="nav navbar-nav fixed-right">
            <li><a href="/core/register">Register</a></li>
        </ul>
    </nav>



    <div class="container">
        {% block body %}
        {% endblock %}
    </div>
</body>

</html>
